<?xml version = "1.0" encoding = "UTF-8"?>

<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--    配置mybatis运行环境-->
    <environments default="a">
        <environment id="a">
            <!--                配置JDBC事务管理-->
            <transactionManager type="JDBC"></transactionManager>
            <!--                Pooled配置JDBC数据源连接池-->
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.cj.jdbc.Driver"></property>
                <property name="url"
                          value="jdbc:mysql://localhost:3306/bank?serverTimezone=UTC&amp;useUnicode=true&amp;characterEncoding=UTF-8"></property>
                <property name="username" value="root"></property>
                <property name="password" value="123456"></property>
            </dataSource>
        </environment>

    </environments>

    <!-- 注册AccountMapper.xml -->
    <mappers>
        <mapper resource="com/zhennan/mapper/AccountMapper.xml"></mapper>
        <mapper resource="com/zhennan/repository/AccountRepository.xml"></mapper>
        <mapper resource="com/zhennan/repository/StudentRepository.xml"></mapper>
        <mapper resource="com/zhennan/repository/ClassesRepository.xml"></mapper>
        <mapper resource="com/zhennan/repository/CustomerRepository.xml"></mapper>
    </mappers>
</configuration>